@import "../abstracts/abstracts";

.footer {
  background-image: url("#{$image-path-theme}/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__column {
    border-top: .1rem solid color(primary);
    padding: 3rem 0;
  }

  &__bottom {
    padding: 1rem 0;
    color: color(white);
    background-color: color(black);
  }
}