@import "../abstracts/abstracts";

.es-addon-term-grid {
  .item {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 9.2rem 1fr;

    &__thumbnail {
      width: 9.2rem;
      height: 9.2rem;
      overflow: hidden;
      border-radius: 50%;
      background-color: color(primary);
      @extend %flex-align-center;
      
      a {
        display: block;
        max-width: 5.5rem;
        overflow: hidden;
      }

      img {
        width: 100%;
      }
    }

    .title {
      a {
        color: inherit;
      }
    }
  }
}